.react-multi-carousel-dot-list {
    bottom: -30px;
}

.react-multi-carousel-dot {
    >button {
        background-color: gray;
    }
}

.react-multi-carousel-dot--active {
    >button {
        background-color: #2B2B2B;
    }
}

.react-multiple-carousel__arrow {
    border-radius: 5px;
    padding: 5px 16px;
    background: transparent;
    font-weight: 900;
    &::before {
        color: black;
    }
    &:hover {
        background-color: goldenrod;
    }
}

.react-multiple-carousel__arrow--left {
    left: calc(4% + -42px);
}

.react-multiple-carousel__arrow--right {
    right: calc(4% + -36px);
}

#portfolio-wrapper {
    width: 90vw;
}

.react-multi-carousel-item {
    margin-left: 5px;
}
